/ {
    compatible = "brcm, ";
    fragment@0 {
        target = <&i2c1>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;

            my_bmp180_rd: my_bmp180@EE {
                compatible = "Sensors, bmp180";
                reg = <0xEE>;
                status = "okay";
            };
            my_bmp180_wr: my_bmp180@EF {
                compatible = "Sensors, bmp180";
                reg = <0xEF>;
                status = "okay";
            };
        };
    };
};